body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


main {
  width: 90vw;
  min-height: 40vh;
  max-width: 350px;
  border-radius: 5%;
  margin: 50px auto;
  background: #a9d3e9;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

a {
  color:black;
  text-decoration: none
}